*{
    margin: 0;
    padding: 0;
}
a{
    padding: 10px;
    color:blue;
    text-decoration:none;

}
nav{
    background-color: cyan;
    /* padding: 20px; */
}
input{
    float: right;
    margin-top: 10px;
}
a:hover{
    background-color:white;
    color:yellowgreen;
    border-radius: 50px;
}

